<html>
<script src="../../es+.js"></script>
<script src="components/ee-article.js"></script>
<script src="components/ee-button.js"></script>
<script src="components/ee-label.js"></script>

<template id='template1'>
    <span>
        This is a template. Title = [${this.data.title}]
    </span>
</template>

<body>
    <div style="margin-bottom:20px"><small>Please open the console view to see more details.</small></div>
    <div>
        <es-use component='#template1'>
            <script type="text/es-extend">
            {
                data: {
                    title: 'This is the title from this.data.title.'
                }
            }
        </script>
        </es-use>
        <br />
        <es-use component='ee-button'></es-use>
        <br />
        <es-use component='ee-button'>
            <script type="text/es-extend">
            {
                data: {
                    title: 'Event handler!'
                },
                events: { 
                    onclick: function (e) { console.log('handled', e); },
                    onmousedown: function  (e) { console.log('handled', e); }
                }
            }
        </script>
        </es-use>
        <br />
        <es-use component='ee-label'></es-use>
        <br />
        <es-use component='ee-article'></es-use>
        <br />
        <es-use component='ee-article'>
            <script type="text/es-extend">
            {
                styles: {
                    default: {
                        background: 'lightgray'
                    },
                    footer: {
                        'font-size': '10',
                        color: 'gray'
                    }
                }
            }
            </script>
            <template slot='header'>
                <h1>This is the title.</h1>
            </template>
            <template slot='footer'>
                <h1>This is footer.</h1>
            </template>
        </es-use>
    </div>
</body>

</html>