<html>
<script src="../../es+.js"></script>
<script src="components/ee-article.js"></script>
<script src="components/ee-button.js"></script>
<script src="components/ee-label.js"></script>

<template id='template1'>
    <span>
        This is a template. Title = [${this.data.title}]
    </span>
</template>

<body>
    <script is="es-script" component='#template1'>
        {
            data: {
                title: 'This is the title from this.data.title.'
            }
        }
    </script>
    <script is="es-script" component='ee-button'></script>
    <script is="es-script" component='ee-button' type="text/es+">
        {
            data: {
                title: 'Event handler!'
            },
            events: { 
                onclick: function (e) { console.log('handled', e); },
                onmousedown: function  (e) { console.log('handled', e); }
            }
        }
    </script>
    <script is="es-script" component='ee-label'></script>
    <script is="es-script" component='ee-article'></script>
    <script is="es-script" component='ee-article' type="text/es+">
        { 
            slots: { 
                header: '<h1>This is the title.</h1>', 
                footer: '<p>This is footer.</p>'
            },
            styles: {
                default: {
                    background: 'lightgray'
                },
                footer: {
                    'font-size': '10',
                    color: 'gray'
                }
            }
        }
    </script>
</body>

</html>